.app.normal {
  --bg-color: #a9b6c4;
  --inverted-bg-color: #002b57;
  --primary-color: #0a08a5;
  --secondary-color: #0b0138;
  --inverted-primary-color: #146e11;
  --inverted-secondary-color: #0eda0e;
}
